__pycache__/
.env
*.py[cod]
*.pyo
*.pyd
*.so
venv/
env/
.venv/
.env/
.env.*  # like .env.local, .env.dev, etc.
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
migrations/
alembic/
*.db
.mypy_cache/
.pyright/
.pytest_cache/
coverage/
*.pid
docker-compose.override.yml
dist/
build/
*.egg-info/
htmlcov/
.coverage
.cache/
.tox/
*.ipynb_checkpoints/
*.pb2.py
